
h1 {
  font-family: sans-serif, arial;
  text-align: center;
}

#game {
  margin-left: auto;
  margin-right: auto;
  display: block;
  min-width: 500px;
  min-height: 500px;
  box-shadow: 10px 10px 5px #888888;
}
